/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

html, body {
	transition: .375s ease;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	color: #1D1D1D;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	height: 100vh;
}

h1 {
	font-size: 128px;
	font-family: 'Kayak Sans Bold', arial, sans-serif;
	letter-spacing: 2px;
}

h2 {
	font-size: 48px;
	font-family: 'Kayak Sans Bold', arial, sans-serif;
	letter-spacing: 1px;
}

h3 {
	font-size: 21px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: .5px;
}

h4 {
	font-size: 16px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: 0px;
}

h5 {
	font-size: 12px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: 0px;
}

.superscript {
	vertical-align: super;
}

.lower-case {
	text-transform: lowercase;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

a{
  color: inherit;
	cursor: pointer;
}

a:visited{
  color:inherit;
	cursor: pointer;
}

a:hover{
  color:inherit;
	cursor: pointer;
}

/* Dropdown */

.content-question, #dropdown-wrapper {
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 0px transparent solid;
	border-radius: 0px;
	box-sizing: border-box;
	white-space: nowrap;
	background-color: transparent;
}

.content-question {
	opacity: .25;
	padding: 8px;
	transition: .25s ease;
}

#content-selection-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	transition: .375s ease;
}

.central-content {
  position: absolute;
  top: 50%;
  left: 50%;
	height: 54px;
	z-index: 1;
}

#dropdown-wrapper {
  width: 16ch;
	text-align: left;
	background-color: #E6E6E6;
	overflow: hidden;
	height: 362px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: pointer;
	transition: .375s ease;
}

#dropdown-wrapper[data-open="false"]:hover {
	background-color: rgba(29, 29, 29, .1);
}

/* width */
.item-list::-webkit-scrollbar {
  width: 8px;
}

.item-list::-webkit-scrollbar-track {
	/* Scrollbar Track */
  background: linear-gradient(0deg, rgba(29,29,29,0) 0%, rgba(29,29,29,.05) 15%, rgba(29,29,29,.05) 80%, rgba(29,29,29,0) 95%);
}

/* Handle */
.item-list::-webkit-scrollbar-thumb {
  background: rgba(29, 29, 29, .25);
}

/* Handle on hover */
.item-list::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 29, 29, .5);
}

.item {
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: rgba(29, 29, 29, 0);
	transition: .2s ease;
}

.item:hover {
	background-color: rgba(29, 29, 29, .1);
}

.item-list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
	padding-left: 0px;
	padding-right: 0px;
}

.selected-river {
	position: relative;
	background-color: rgba(29, 29, 29, .1);
	margin-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	transition: .375s ease;
}

#dropdown-wrapper[data-open="true"] > .selected-river::after {
	position: absolute;
	display: block;
	top: 50%;
	right: 24px;
	width: 16px;
	height: 16px;
	content: '';
	transform: translate(-50%, -50%) rotate(180deg) scale(1);
	background-image: url('selector-arrow.e078bd8b.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s ease;
}

#dropdown-wrapper[data-open="false"] > .selected-river::after {
	position: absolute;
	display: block;
	top: 50%;
	right: 24px;
	width: 16px;
	height: 16px;
	content: '';
	transform: translate(-50%, -50%) rotate(0deg) scale(1);
	background-image: url('selector-arrow.e078bd8b.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s ease;
}

#dropdown-wrapper[data-animating="true"] > .selected-river::after {
	position: absolute;
	display: block;
	top: 50%;
	right: 24px;
	width: 16px;
	height: 16px;
	content: '';
	transform: translate(-50%, -50%) rotate(0deg) scale(0);
	background-image: url('selector-arrow.e078bd8b.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .375s ease;
}

.item-group {
	position: relative;
	padding-top: 20px;
	padding-bottom: 0px;
}

.item-group::before {
	position: absolute;
	top: 4px;
	left: 6px;
	display: block;
	content: attr(data-state);
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(29, 29, 29, .25);
	padding: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #E6E6E6;
	z-index: 2;
}

.item-group::after {
	position: absolute;
	top: 9px;
	left: 6px;
	display: block;
	content: '';
	width: 95%;
	height: 1px;
	background-color: #1D1D1D;
	opacity: .25;
	z-index: 1;
}

/* Check Now CTA */

.cta-wrapper {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 110px;
	height: 16px;
	padding: 4px;
	background-color: #E6E6E6;
	z-index: 0;
}

.cta-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cta-mask > .container {
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #1D1D1D;
	text-align: center;
	transform: translateY(-125%);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: pointer;
	transition: .375s ease;
}

#border-line-svg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -10;
}

/* Transition styles */

.border-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 20%;
	border: 1px solid #1D1D1D;
	opacity: 0;
	z-index: -10;
}

/* Title styles */

#title-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.subtitle {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 0px transparent solid;
	border-radius: 0px;
	box-sizing: border-box;
	white-space: nowrap;
	background-color: transparent;
	padding: 8px;
}

.main-title {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 0px transparent solid;
	border-radius: 0px;
	box-sizing: border-box;
	white-space: nowrap;
	background-color: transparent;
	padding: 8px;
}

#stroke-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(29, 29, 29, 1);
	-webkit-text-stroke: .5px rgba(29, 29, 29, 1);
}

#title-wrapper, #stroke-title {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Loading Styles */

.loading-content {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 20px;
}

.loading-content > .container {
	overflow: hidden;
}

/* Answer Styles */

.answer-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#answer {
	font-family: 'Kayak Sans Bold', arial, sans-serif;
	font-size: 128px;
	text-transform: uppercase;
	letter-spacing: 8px;
}

#answer , #current-flow {
	overflow: hidden;
}

/* Range Styles */

.range-content {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 90%;
	transform: translate(-50%, 50%);
}

.range-content > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.border-text {
	font-size: 16px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: 0px;
	padding: 8px;
	overflow: hidden;
	text-align: center;
	transform: scaleX(0);
}

.border-text > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	transform: translate(0%, -150%);
}

.border-text > .container > svg {
	margin-left: 4px;
	margin-right: 4px;
	width: 16px;
	height: 16px;
}

.tooltip-cover {
 z-index: 15;
 cursor: help;
}

#range-tooltip {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 140px;
	height: 50%;
	transform: translate(0%, -50%);
}

#range-tooltip > .container > .tooltip-item {
	position: absolute;
	top: 50%;
	left: 85%;
	background-color: #1D1D1D;
	border-radius: 4px;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 14px;
	line-height: 1.25;
	letter-spacing: .625px;
	transform: translate(-10px, -50%);
	white-space: pre;
	opacity: 0;
	pointer-events: none;
	transition: .375s .1s ease;
}

#range-tooltip:hover > .container > .tooltip-item {
	transform: translate(0px, -50%);
	opacity: 1;
}

.tooltip-subtext {
	font-size: 9px;
	line-height: 2.25;
}

.range-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	width: 75%;
	height: 42px;
}

.measurement-number {
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: 2px;
	transform: translate(0%, 150%);
}

.point-indicator {
	position: absolute;
	width: 24px;
	height: 24px;
	transform: translate(0%, -150%);
}

.point-indicator > svg {
	position: relative;
	width: 100%;
	height: 100%;
}

#range-indicator {
	top: 0;
}

#range-label {
	padding: 3px;
}

/* Height Styles */

.height-content {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%) rotate(-90deg);
}

.height-content > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.height-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	width: 75%;
	height: 42px;
}

#height-indicator {
	top: 0;
}

#height-label {
	padding: 3px;
}

/* Date Styles */

.date-content {
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translate(-50%, -50%) rotate(-90deg) scale(0, 1) skew(0,0);
}

.date-mask {
	overflow: hidden;
	padding: 8px;
	background-color: #E6E6E6;
}

.date-mask > .container {
	transform: translate(-150%, 0%);
}

/* Answer State Styles */

.bkgd-no, .bkgd-maybe, .bkgd-yes {
	transition: .375s ease;
}

.bkgd-no {
	background: #C41E3D;
	color: #EAC435;
}

.content-no {
	background-color: #C41E3D;
}

.text-stroke-no {
	-webkit-text-stroke-color: #EAC435;
}

.bkgd-maybe {
	background: #FF7F11;
	color: #E4E6C3;
}

.content-maybe {
	background-color: #FF7F11;
}

.text-stroke-maybe {
	-webkit-text-stroke-color: #E4E6C3;
}

.bkgd-yes {
	background: #2E933C;
	color: #261C15;
}

.content-yes {
	background-color: #2E933C;
}

.text-stroke-yes {
	-webkit-text-stroke-color: #261C15;
}

.bkgd-neutral {
	background-color: #E6E6E6;
	transition: .375s ease;
}

.content-neutral {
	background-color: #E6E6E6;
}

.text-stroke-neutral {
	-webkit-text-stroke-color: #1D1D1D;
}

/* Settings */

.settings {
	position: absolute;
	bottom: 32px;
	left: 32px;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.settings > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	z-index: 5;
}

#settings-cog {
	position: relative;
	width: 24px;
	height: 24px;
	margin-right: 12px;
}

.settings-item {
	margin-right: 24px;
	overflow-x: hidden;
}

.settings-item > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	pointer-events: none;
}

.settings-item > .container > svg {
	width: 24px;
	height: 24px;
	margin-left: 8px;
}

.settings-text {
	font-size: 12px;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	letter-spacing: 0px;
	transform: translate(0%, 25%);
}

/* Background Wave */

#background-wave {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: -100;
	overflow: hidden;
	opacity: .5;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0%);
	padding-left: 75px;
	padding-right: 75px;
	box-sizing: border-box;
}

.footer > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.footer-text {
	font-size: 11px;
	letter-spacing: 1px;
	text-align: center;
}

/* Dev Console */

#dev-console-area {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(29, 29, 29, 0);
	z-index: 1000;
	padding: 75px;
	box-sizing: border-box;
	color: #E6E6E6;
}

.dev-console-info {
	position: absolute;
	color: #e6e6e6;
	font-family: 'Kayak Sans Regular', arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
}

#dev-console-title {
	top: 0px;
	left: 0px;
}

#dev-console-instruction {
	top: 0px;
	right: 0px;
	animation: pluseText 1.5s ease-in-out infinite;
}

#dev-console-time {
	bottom: 0px;
	left: 0px;
}

#dev-console-version {
	bottom: 0px;
	right: 0px;
}

@keyframes pluseText {
	0%		{opacity: 1;}
	50%		{opacity: .5;}
	100%	{opacity: 1;}
}

#dev-console-items {
	position: absolute;
	top: 50px;
	left: 0px;
}

#dev-console-items > .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

#dev-console-cookies {
	position: relative;
	padding: 24px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	width: 350px;
}

#dev-console-cookies::before {
	position: absolute;
	top: 0px;
	left: 16px;
	display: block;
	content: 'Cookies Loaded';
	transform: translate(0%, -40%);
	font-size: 14px;
	letter-spacing: 1.25px;
}

#dev-console-cookies::after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	border: 1px #E6E6E6 solid;
	clip-path: polygon(-5px -5px, 10px -5px, 10px 16px, 142px 16px, 142px -5px, 105% -5px, 105% 105%, -5px 105%);
}

.cookie-group {
	margin-bottom: 8px;
	z-index: 1050;
	text-align: left;
}

.cookie-group > label > input[type="checkbox"] {
	display: none;
}

.cookie-label {
	position: relative;
	box-sizing: border-box;
	padding-left: 18px;
	letter-spacing: .75px;
	font-size: 16px;
}

.cookie-label::before {
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(-50%, -60%);
	width: 11px;
	height: 11px;
	box-sizing: border-box;
	border: 1px #E6E6E6 solid;
	display: block;
	content: '';
	transition: .125s ease;
}

#settings-cookies > label > .cookie-label::after {
	position: absolute;
	top: 50%;
	right: 0px;
	text-align: right;
	transform: translate(0%, -45%);
	box-sizing: border-box;
	display: block;
	font-size: 10px;
	opacity: .5;
	letter-spacing: .5px;
	line-height: 1;
	content: 'No Expire Date';
}

input[type="checkbox"]:checked + .cookie-label::before {
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(-50%, -60%);
	width: 4px;
	height: 4px;
	box-sizing: border-box;
	border: 6px #E6E6E6 solid;
	display: block;
	content: '';
	transition: .125s ease;
}

.cookie-data-point {
	position: relative;
	padding-top: 6px;
	padding-left: 36px;
	font-size: 13px;
}

.cookie-data-point::before {
	position: absolute;
	top: 0px;
	left: 12px;
	display: block;
	content: '';
	width: 19px;
	height: 19px;
	background-image: url('child-line.19bd7a5c.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.cookie-data-point:last-child::before {
	position: absolute;
	top: 0px;
	left: 12px;
	display: block;
	content: '';
	width: 19px;
	height: 19px;
	background-image: url('child-line-terminate.08480dfd.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.cookie-data-point::after {
	position: absolute;
	top: 50%;
	right: 0px;
	text-align: right;
	opacity: .75;
	display: block;
	content: attr(data-value) ' ' attr(data-unit);
	transform: translate(0%, -50%);
	font-size: 9px;
}

#cookie-clear-selected {
	position: absolute;
	bottom: 8px;
	left: 16px;
	letter-spacing: .5px;
	opacity: .5;
	z-index: 1100;
	transition: .2s;
}

#cookie-clear-selected:hover {
	letter-spacing: 1px;
}

#cookie-refresh {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	transform: translate(0%, 150%);
}

#refresh-cookie-countdown {
	text-align: left;
	font-size: 10px;
	transform: translate(0%, 2px);
	opacity: .5;
}

#dev-console-actions, #dev-console-cookies {
	margin-bottom: 50px;
}

#dev-console-actions {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	text-align: left;
}

#actions-title {
	white-space: pre-line;
	margin-bottom: 22px;
	font-size: 18px;
}

.dev-console-subtitle {
	font-size: 11px;
}

.actions-item {
	font-size: 20px;
	margin-bottom: 12px;
	letter-spacing: .5px;
	transition: .25s ease;
}

.actions-item:hover {
	opacity: .5;
	letter-spacing: 1px;
	cursor: pointer;
}

/* Banners */

.banner {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 25px;
	background: -moz-linear-gradient(left, rgba(29,29,29,0) 0%, rgba(29,29,29,.38) 20%, rgba(29,29,29,.38) 80%, rgba(29,29,29,0) 100%);
	background: -webkit-linear-gradient(left, rgba(29,29,29,0) 0%,rgba(29,29,29,.38) 20%,rgba(29,29,29,.38) 80%,rgba(29,29,29,0) 100%);
	background: linear-gradient(to right, rgba(29,29,29,0) 0%,rgba(29,29,29,.38) 20%,rgba(29,29,29,.38) 80%,rgba(29,29,29,0) 100%);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	z-index: 250;
}

#cookie-policy-banner {
	top: 0px;
	color: #E6E6E6;
	font-size: 11px;
	letter-spacing: .75px;
	line-height: 1.5;
}

#cookie-policy-banner > .container {
	display: grid;
	place-items: center;
}

#cookie-policy-close-button {
	width: 16px;
	height: 16px;
	background-image: url('close-button.d326a291.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 12px;
	cursor: pointer;
	float: right;
	clear: both;
}

/* All Displays */

.display-box {
	position: absolute;
	top: 50%;
	padding: 50px;
	box-sizing: border-box;
	overflow: hidden;
}

#current-conditions-box {
	left: 20%;
	transform: translate(-50%, -50%)
}

.display-error-subtitle, .display-error-title, .display-error-body, .display-error-subcopy {
	text-align: center;
}

.display-error-subtitle {
	font-size: 16px;
	color: inherit;
	letter-spacing: 1px;
	line-height: 2.5;
}

.display-error-title {
	font-family: 'Kayak Sans Bold', arial, sans-serif;
	font-size: 60px;
}

.display-error-body {
	font-size: 12px;
	color: inherit;
	letter-spacing: .75px;
	line-height: 1.375;
}

.display-error-subcopy {
	font-size: 9px;
	color: inherit;
	letter-spacing: 1px;
}

/* Weather Display */

.degree {
	text-transform: lowercase;
	font-size: 9px;
	vertical-align: 6px;
}

.information-display {
  position: relative;
  width: 450px; /* Temp */
  height: 450px; /* Temp */
}

.information-display::after {
  position: absolute;
  display: block;
  content: '';
	top: 0px;
	left: 0px;
  width: 100%;
  height: 100%;
  border-width: 1px;
	border-color: inherit;
	border-style: solid;
  clip-path: polygon(-5px -5px, 20px -5px, 20px 10px, 186px 10px, 186px -5px, 105% -5px, 105% 105%, -5px 105%);
}

#current-conditions-content::before {
  position: absolute;
  display: block;
	color: inherit;
  content: 'Current Conditions';
	font-family: 'Kayak Sans Regular', arial, sans-serif;
  top: 0px;
  left: 24px;
  letter-spacing: .5px;
	transform: translate(0%, -45%);
}

.weather-subtitle {
	position: absolute;
	top: 24px;
	left: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	white-space: nowrap;
	font-size: 14px;
	letter-spacing: .75px;
}

.display-subsection {
	position: absolute;
	left: 0px;
	width: 100%;
}

#current-weather {
	top: 0px;
	height: 60%;
}

.weather-subtitle > div {
	margin-right: 12px;
}

#weather-today {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 24px;
	padding-top: 48px;
	padding-bottom: 48px;
	box-sizing: border-box;
}

#weather-today > .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#weather-today-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.weather-icon {
	width: 108px;
	height: 108px;
	margin: 16px;
}

#now-icon {
	margin-left: 8px;
}

#later-icon {
	margin-right: 8px;
}

#weather-timeline {
	font-size: 14px;
	letter-spacing: .75px;
}

#weather-timeline > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	white-space: nowrap;
}

#timeline-now {
	margin-right: 8px;
}

#timeline-later {
	margin-left: 8px;
}

.weather-timeline-line {
	position: relative;
	width: 100%;
}

.line-rule {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	background-color: #1D1D1D;
	transform: translate(0%, -50%);
}

#weather-forecast {
	bottom: 0;
	height: 40%;
}

#weather-forecast::before {
  position: absolute;
  display: block;
	color: inherit;
  content: '3-Day Forecast';
	font-family: 'Kayak Sans Regular', arial, sans-serif;
  top: 0px;
  left: 24px;
  letter-spacing: .5px;
	transform: translate(0%, -45%);
}

#weather-forecast::after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	border-width: 1px;
	border-color: inherit;
	border-style: solid;
	clip-path: polygon(-5px -5px, 20px -5px, 20px 10px, 146px 10px, 146px -5px, 105% -5px, 105% 105%, -5px 105%)
}

#weather-forecast > .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.forecast-item {
	position: relative;
	height: 100%;
	width: 1fr;
	border: 1px #1D1D1D solid;
	border-style: none none none solid;
	box-sizing: content-box;
}

.forecast-item > .weather-icon {
	position: absolute;
	top: 33%;
	left: 35%;
	transform: translate(-50%, -50%);
	width: 81px;
	height: 81px;
}

.forecast-text {
	position: absolute;
	bottom: 15%;
	left: 35%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	letter-spacing: 1px;
}

#current-conditions-content > .container[data-notice]::after {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 95%;
	height: 40px;
	text-align: center;
	content: attr(data-notice);
	display: block;
	font-size: 10px;
	color: inherit;
	letter-spacing: .75px;
	line-height: 1.25;
	transform: translate(-50%, 125%);
}

#error-message-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 60%;
}

#error-message-wrapper > .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

#error-message-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#error-message-wrapper > .container > .display-error-body {
	margin-top: 36px;
}

#error-message-wrapper > .container > .display-error-subcopy {
	margin-top: 18px;
}

#error-message-wrapper > .container > #error-message-title > .display-error-title {
	font-size: 81px;
}

/* More Info */

#the-download-content::before {
  position: absolute;
  display: block;
	color: #eac435;
  content: 'The Download';
	font-family: 'Kayak Sans Regular', arial, sans-serif;
  top: 0px;
  left: 24px;
  letter-spacing: .5px;
	transform: translate(0%, -45%);
}

#the-download-content::after {
  position: absolute;
  display: block;
  content: '';
	top: 0px;
	left: 0px;
  width: 100%;
  height: 100%;
  border: 1px #eac435 solid;
  clip-path: polygon(-5px -5px, 20px -5px, 20px 10px, 146px 10px, 146px -5px, 105% -5px, 105% 105%, -5px 105%);
}

#download-graph {
	top: 0px;
	height: 72%;
	padding: 24px;
	box-sizing: border-box;
}

#local-outfitters {
	bottom: 0px;
	height: 28%;
	padding: 12px;
	padding-bottom: 8px;
	box-sizing: border-box;
}

#local-outfitters::before {
  position: absolute;
  display: block;
	color: #eac435;
  content: 'Local Outfitters';
	font-family: 'Kayak Sans Regular', arial, sans-serif;
  top: 0px;
  left: 24px;
  letter-spacing: .5px;
	transform: translate(0%, -45%);
}

#local-outfitters::after {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	border: 1px #eac435 solid;
	clip-path: polygon(-5px -5px, 20px -5px, 20px 10px, 167px 10px, 167px -5px, 105% -5px, 105% 105%, -5px 105%);
}

#local-outfitters > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#local-outfitters > .container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#local-outfitters > .container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.outfitter-item {
	position: relative;
	max-width: 130px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-right: 24px;
	text-decoration: none;
}

.outfitter-title {
	color: inherit;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 1.25;
	text-align: left;
}

.outfitter-rating {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.outfitter-rating-stars {
	height: 20px;
	width: 80px;
	transform: translate(-4px, 0px);
}

.outfitter-rating-count {
	color: inherit;
	font-size: 14px;
	letter-spacing: 1px;
	white-space: nowrap;
	text-align: right;
	margin-top: 5px;
	margin-left: 12px;
}

#graph-timeline, #graph-flow-line {
	font-size: 14px;
	letter-spacing: .75px;
}

#graph-timeline > .container, #graph-flow-line > .container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	white-space: nowrap;
}

#graph-now {
	margin-right: 8px;
}

#graph-later {
	margin-left: 8px;
}

.graph-timeline-line {
	position: relative;
	width: 100%;
}

.graph-disclaimer {
	margin-top: 8px;
	font-size: 12px;
	line-height: 1.2;
	text-align: left;
}

#graph-area {
	width: 100%;
	height: 70%;
	margin-bottom: 24px;
}

.ct-series-a .ct-line {
  stroke: #eac435;
  stroke-width: 2px;
	fill: none;
}

.ct-series-b .ct-line {
  stroke: #eac435;
  stroke-width: 1px;
	stroke-dasharray: 18 12;
	fill: none;
}

.ct-series-c .ct-line {
  stroke: #eac435;
  stroke-width: 2px;
	stroke-dasharray: 6 6;
	fill: none;
}

.ct-labels {
	font-size: 8px;
}

.item-no, .item-maybe, .item-yes {
	padding: 12px;
	padding-bottom: 8px;
	box-sizing: border-box;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	cursor: pointer;
	transition: .2s ease;
}

.item-no {
	background: rgba(234, 196, 53, 0);
}

.item-no:hover {
	background: rgba(234, 196, 53, .2);
}

.item-maybe {
	background: rgba(228, 230, 195, 0);
}

.item-maybe:hover {
	background: rgba(228, 230, 195, .2);
}

.item-yes {
	background: rgba(38, 28, 21, 0);
}

.item-yes:hover {
	background: rgba(38, 28, 21, .2);
}


/*# sourceMappingURL=styles.86aa2c2b.css.map */